<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Ben and Sam</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>    
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/style.css') }}"/>
    <script type="text/javascript">
        var socket = io.connect();
        socket.on('aaa', function() {
                location.reload();
            });
        socket.on('connect', function() {
                console.log('Connected to the server!');
            });
        socket.on('reset', function(){
            $('#1').hide();
            $('#2').hide();
            $('#3').hide();
            $('#4').hide();});
    
        socket.on('1', function(){$('#print1').show();});
        socket.on('2', function(){$('#print2').show();});
        socket.on('3', function(){$('#print3').show();});
        socket.on('4', function(){$('#print4').show();});
    
    </script>
    
</head>


<body>
    <div id="grid">
        <div id="logo">
            <img id = "ritLogo" src="{{ url_for('static',filename='/media/bigLogoBandO.png') }}">
        </div>

        <div id="title">
            <div id="qr">
                <img class = "qrCode" src="{{ url_for('static',filename='/media/qrCode.png') }}">
            </div>
            <div id="qr" class = "qrCode2"></div>
            <h1>MMET Rapid Prototying Lab</h1>
            <h2>Contact <a href ="mmetrp@rit.edu">mmetrp@rit.edu</a> or go to <a href = "rit.edu/cet/3dprint">rit.edu/cet/3dprint</a> for a print</h2>
            <h3>Currently Printing:</h3>
        </div>

        <div id="print">
            <iframe id = "print1" src="http://10.16.151.12:8080/?action=stream"></iframe>
            <iframe id = "print2" src="http://10.16.151.12:8080/?action=stream"></iframe>
            <iframe id = "print3" src="http://10.16.151.12:8080/?action=stream"></iframe>
            <iframe id = "print4" src="http://10.16.151.12:8080/?action=stream"></iframe>
        </div>
        
    </div>

</body>

</html>
