<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>    
</head>

<body>
    <form id="checkboxForm" action="/submit" method="POST">
      <input type="checkbox" id="checkbox1" name="checkbox[]" value="1">
      <label for="Sam">Toggle Sam</label><br>
      <input type="checkbox" id="checkbox2" name="checkbox[]" value="2">
      <label for="Bob">Toggle Ben</label><br>
      <input type="checkbox" id="checkbox3" name="checkbox[]" value="3">
      <label for="Bob">Toggle Bob</label><br>
      <input type="checkbox" id="checkbox4" name="checkbox[]" value="4">
      <label for="Bambu">Toggle Bambu</label><br>
      <br>Submit unchecked for default page</br>
      <br></br>
      <input type="submit">
    </form>

    <script>
        var socket = io.connect();
    </script>


</body>
</html>