<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currently Printing</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>    
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='/css/style.css') }}"/>
    <script type="text/javascript">
        var socket = io.connect();
        socket.on('refresh_page', function() {location.reload(true);});
        socket.on('connect', function() {socket.emit('combo');});
        socket.on('reset', function(){
            document.getElementById('print1').style.display = 'none';
            document.getElementById('print2').style.display = 'none';
            document.getElementById('print3').style.display = 'none';
            document.getElementById('print4').style.display = 'none';});
    
        socket.on('1', function(){document.getElementById('print1').style.display = ''; console.log('1');});
        socket.on('2', function(){document.getElementById('print2').style.display = ''; console.log('2');});
        socket.on('3', function(){document.getElementById('print3').style.display = ''; console.log('3');});
        socket.on('4', function(){document.getElementById('print4').style.display = ''; console.log('4');});
    
    </script>
    
</head>


<body>
    <div id="grid">
        <div id="logo">
            <img id = "ritLogo" src="{{ url_for('static',filename='/media/bigLogoBandO.png') }}">
        </div>

        <div id="title">
            <div id="qr">
                <img class = "qrCode" src="{{ url_for('static',filename='/media/qrCode.png') }}">
            </div>
            <div id="qr" class = "qrCode2"></div>
            <h1>MMET Rapid Prototying Lab</h1>
            <h2>Contact <a href ="mmetrp@rit.edu">mmetrp@rit.edu</a> or go to <a href = "rit.edu/cet/3dprint">rit.edu/cet/3dprint</a> for a print</h2>
            <h3>Currently Printing:</h3>
        </div>

        <div id="print">
            <iframe loading = "lazy" id ="print1" src="http://10.16.151.12:8080/?action=stream"></iframe>
            <iframe loading = "lazy" id ="print2" src="http://10.16.151.12:8080/?action=stream"></iframe>
            <iframe loading = "lazy" id ="print3" src="http://10.16.151.12:8080/?action=stream"></iframe>
            <iframe loading = "lazy" id ="print4" src="http://10.16.151.12:8080/?action=stream"></iframe>
        </div>
        
    </div>

</body>

</html>
