<html>
    <script>
        function timedRefresh(timeoutPeriod) {setTimeout("location.reload(true);",timeoutPeriod);}
        window.onload = timedRefresh(10000);
        </script>
<br /> 
<br /> 
<h1 align="center">Currently Printing</h1>
<h2 align="center">Need a print? Contact mmetrp@rit.edu or go to</h2>
<h2 align="center">cet-print.main.ad.rit.edu:9191/job-ticketing</h2> 
<h3 align="center"><pre class="tab">Ben                                        |                                        Sam</h3></pre>
<p align="center"><iframe src="http://10.16.151.12:8080/?action=stream" width="800" height="600" frameborder="0" allowfullscreen></iframe>&nbsp;&nbsp;&nbsp;&nbsp;<iframe src="http://10.16.151.13:8080/?action=stream" width="800" height="600" frameborder="0" allowfullscreen></iframe></p>

</html>