<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>None</title>


    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div id="grid">
        <div id="logo">
            <img id = "ritLogo" src="../media/bigLogoBandO.png">
        </div>

        <div id="title">
            <div id="qr">
                <img class = "qrCode" src="../media/qrCode.png">
            </div>
            <div id="qr" class = "qrCode2"></div>
            <h1>MMET Rapid Prototying Lab</h1>
            <h2>Contact <a href ="mmetrp@rit.edu">mmetrp@rit.edu</a> or go to <a href = "rit.edu/cet/3dprint">rit.edu/cet/3dprint</a> for a print</h2>
            <h3>Nothing is currently printing</h3>
        </div>
        
    </div>

        <script>
            function timedRefresh(timeoutPeriod) { setTimeout("location.reload(true);", timeoutPeriod); }
            window.onload = timedRefresh(10000);
        </script>

</body>

</html>